.about{
  padding:20px;
   margin:20px;
   background-color: black;

 
 }
 
 .about img{
  height:auto;
  width:100%;
position:relative;
border:1px solid black;
border-radius: 10px;
float: left;
margin-right:40px;
 }


 /* about page text styling */
 .about-me{
  padding:3rem;
 text-align: center;
line-height: 30px;
 }

 .about{
   display:block;
   justify-content: space-around
 }
 
 .about-me h2{
   color: darkorchid;
  text-transform: capitalize;
   margin: 20px;
   font-style: italic;
   letter-spacing: 1px;
 }

 @media screen and (max-width:600px){
  .about-me{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

   }
}