* {
  box-sizing: border-box;
  color:white;
  font-weight: 600;
}
label{color: white;}

/* Style inputs */
input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
  border-radius: 10px;
}

input[type=submit] {
  background-color: darkorchid;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: white;
  color: black;

}

.heading
{
  text-align: center;
  padding: 40px;
}
.heading h2{
  font-size: 600;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 40px;
  color: darkorchid;
}
/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.container-content{
  text-align: center;
}

.ContactImg{
  width:70%;
  
  border-radius: 10px;
  box-shadow: darkorchid;
}

.ContactImg:hover{

  transform: scaleX(-1);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 

textarea{
  height:170px;
  color: black;
  border-radius: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}